* {
  box-sizing: border-box;
  font-family: Inter;
}

body {
  margin: 0 auto;
  width: 548.15px;
}

.logo {
  width: 144.51px
  /* width: 100% */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF7ED;
  padding: 0 20px;
  /* padding: 0 2% 0 2%; */
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.sign-out-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF8C38;
  border: none;
  border-radius: 5px;
  padding: 6px;
  font-weight: 500;
  color: white;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #161616;
}

nav a {
  /* padding: 12px; */
  color: #4D4D4D;
}

.active-link, nav a:hover {
  color: #161616;
  font-weight: 600;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AAAAAA;
  background-color: #252525;
}

.not-found {
  padding: 20px;
  background-color: #FFF7ED;
  padding-bottom: 60px;
}

.not-found div {
  background-color: #161616;
  color: white;
  font-weight: 700;
  font-size: medium;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.home {
  padding:  50px 25px;
  background-image: url("/images/image\ 53.png");
  color: white;
  align-items: center;
}

.find-van {
  width: 494.33px;
  height: 49.83px;
  border-radius: 5px;
  border: none;
  background-color: #FF8C38;
  color: white;
  font-weight: 600;
}

.home-header {
  padding: 0 0 8px;
}

.home-p {
  padding: 0 0 30px;
}

.about {
  background-color: #FFF7ED;
}
.about-subcontainer {
  padding: 0px 25px 45px;
  background-color: #FFF7ED;
}

.about-bottom-container {
  background-color: #FFCC8D;
  border-radius: 5px;
  padding: 12px  20px 30px;
  margin-top: 50px;
}

.about-button {
  background-color: #161616;
  color: white;
  border: none;
  border-radius: 10px;
  width: 174px;
  height: 49px;
  font-weight: 600;
}

.vans-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-top: 20px;
}

.vans-page {
  background-color: #FFF7ED;
  padding:  1px 30px 30px;
}

.filter-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.filter-nav-button {
  border: 0;
}

.filter-nav-active-link {
  background-color: #FFEAD0;
  border-radius: 5px;
  color: #4D4D4D;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 33.89px;
  padding: 5px 15px;
}

.simple, .simple-hover:hover {
  background-color: #E17654;
  color: #FFEAD0;
  text-decoration: none;
  font-weight: 500;
}

.rugged, .rugged-hover:hover {
  background-color: #115E59;
  color: #FFEAD0;
  text-decoration: none;
  font-weight: 500;
}

.luxury, .luxury-hover:hover {
  background-color: #161616;
  color: #FFEAD0;
  text-decoration: none;
  font-weight: 500;
}

.clear-filters {
  color: #4D4D4D;
  text-decoration: underline;
}

.van {
  width: 229.33px;
  padding-bottom: 10px;
}

.van-image {
  width: 229.33px;
  border-radius: 5px;
}

.van-details {
  display: flex;
  justify-content: space-between;
}

.van-type {
  width: 85.71px;
  height: 33.89px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.same-line-cost-span {
  font-weight: 500;
  font-size: medium;
}

.new-line-cost-span {
  font-weight: 400;
}

.van-cost h3 {
  display: inline-block;
}

.van a {
  color: black;
}

.van-details-container {
  width: 548.15px;
  padding: 25px;
  padding-bottom: 60px;
  background-color: #FFF7ED;
}

.van-details-image {
  width: 497.32px;
  border-radius: 5px;
}

.van-details-desc {
  font-weight: 500;
}

.back-to-all-vans-container {
  padding-bottom: 20px;
}

.back-to-all-vans {
  color: #201F1D;
  text-decoration: underline;
}

.host-layout {
  background-color: #FFF7ED;
}

.host-nav {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  gap: 15px;
}

.host-vans {
  padding: 25px;
  padding-top: 0px;
  background-color: #FFF7ED;
}

.host-van {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 6px 15px;
  padding-top: 9px;
  margin: 20px 0px;
  gap: 15px;
}

.host-van p {
  line-height: px;
}

.host-van-image {
  width: 65.88px;
  border-radius: 6px;
}

.host-van-details-container {
  padding: 20px 20px 50px;
  background-color: #FFF7ED;
}

.sub-van-details-container {
  background-color: white;
  border-radius: 6px;
  padding: 25px 25px 15px;
}

.host-van-details {
  display: flex;
  align-items: center;
  padding: 0px 0px 10px 0px;
}

.host-van-details-image {
  width: 160.15px;
  border-radius: 5px;
}

.sub-host-van-details {
  padding: 15px 0px 0px 25px;
}

.host-van-details-nav {
  display: flex;
  padding: 0px;
  gap: 30px;
  font-weight: 500;
}

.host-van-details-nav a {
  padding: 0px;
}

.details p {
  font-weight: 500;
}

.details span {
  font-weight: 600;
}

.details-type {
  text-transform: capitalize;
}

.pricing {
  display: flex;
  align-items: center;
}

.photos img {
  width: 103px;
  border-radius: 5px;
}

.login {
  background-color: #FFF7ED;
  padding: 12px;
  text-align: center;
}

#email {
  background-color: #FFFFFF;
  color: #4D4D4D;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: 494px;
  height: 42px;
  margin-bottom: 0;
  border: 1px solid #D1D5DB;
  /* border-bottom: 0.5px solid #D1D5DB; */
  margin-top: 10px;
}

#password {
  background-color: #FFFFFF;
  color: #4D4D4D;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 494px;
  height: 42px;
  border: 1px solid #D1D5DB;
  border-top: 0;
  margin-bottom: 20px;
}

.create-account-link {
  color: #FF8C38;
}

.login p {
  font-weight: 500;
}

.error-container {
  background-color: #FFF7ED;
  text-align: center;
  margin: 0;
  padding: 20px;
}

pre {
  font-weight: 500;
}

.dashboard-container, .income-container, .reviews-container {
  margin: 0;
}

.dashboard-container img, .income-container img, .reviews-container img {
  width: 100%;
}